<h2><i class="fa fa-plus"></i> Create new Trip</h2>

<%= form_for @trip, :html => { :class => 'form'} do |f| %>
    <% if @trip.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @trip.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :city_from, class: 'label-form' %>
      <%= f.text_field :city_from, class: 'form-control', value: "Черкассы", required: true %>
    </div>
    <div class="form-group">
      <%= f.label :city_to, class: 'label-form' %>
      <%= f.text_field :city_to, class: 'form-control', required: true %>
    </div>
    <div class="form-group">
      <%= f.label :mileage, 'Total mileage (km)', class: 'label-form' %> <a class="btn btn-xs btn-warning double">calculate x2</a>
      <%= f.text_field :mileage, class: 'form-control calculable', required: true %>
    </div>
    <div class="form-group">
      <%= f.label :start, 'Trip date:', class: 'label-form' %>
      <%= f.date_select :start, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :fuel_avg, 'Fuel l/100km:', class: 'label-form' %>
      <%= f.text_field :fuel_avg, class: 'form-control calculable', value: "9.0" %>
    </div>
    <div class="form-group">
      <%= f.label :fuel_price, 'Fuel price/1l:', class: 'label-form' %>
      <%= f.text_field :fuel_price, class: 'form-control calculable'%>
    </div>
    <div class="form-group">
      <%= f.label :comments, 'Comments:', class: 'label-form' %>
      <%= f.text_area :comments, class: 'form-control'%>
    </div>
    <div class="form-group">
      <label>Total cost:</label>
      <span id="total_cost">--</span> uah.
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'Cancel', trips_path, class: 'btn btn-primary' %>
    </div>
<% end %>

