<h1>Edit</h1>

<%= form_for @user, :html => { :class => 'form'} do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'label-form' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'label-form' %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password, class: 'label-form' %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: 'label-form' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
    <% if current_user.admin? %>
        <div class="form-group">
          <%= f.check_box :admin %>
          <%= f.label :admin, "admin?", class: 'label-form' %>
        </div>
    <% end %>
    <div class="actions"><%= f.submit "Save", class: 'btn btn-primary' %></div>
<% end %>
