<h1>Welcome to Sancho Blog!</h1>
<h3>This site is currently under development.</h3>

<%= render 'shared/post_form' %>

<% if @posts.any? %>
  <div class="posts">
    <% @posts.each do |post| %>
        <hr>
        <blockquote>
          <p><%= post.content %></p>
          <footer>Wrote by <%= post.user.name%> (<%= post.user.email%>)
            <span class="pull-right">
                Posted: <%= time_ago_in_words(post.created_at) %> ago. | <%= link_to 'delete', post, method: :delete, data: {confirm: "Sure?"}, title: post.content %>
            </span>
          </footer>
        </blockquote>
    <% end %>
  </div>
<% end %>
