<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type="text/javascript" src="http://www.skypeassets.com/i/scom/js/skype-uri.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
      <%= render '/layouts/header' %>

      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>
          <div class="col-md-3"> 
            <%= render 'layouts/right_pannel' %>
          </div>
        </div><!--/row-->
        <%= render 'layouts/footer' %>
      </div> <!-- /container -->
  </div>

</body>
</html>
